
<p>
  list-meeting works!
</p>

<div class="list-group" *ngFor="let meeting of meetings">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1" > {{meeting.m_name}}</h5>
      <small>{{meeting.to_date}}</small>
    </div>
    <small>{{meeting.m_participant}}</small>
  </a>
 
</div>

  
  <div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item row">
            <div class="col-md-3">One</div>
            <div class="col-md-9">This is a line for content</div>
        </li>
        <li class="list-group-item row">
            <div class="col-md-3">Two</div>
            <div class="col-md-9">This is more content</div>
        </li>
        <li class="list-group-item row">
            <div class="col-md-3">Three</div>
            <div class="col-md-9">This is another row here</div>
        </li>
        <li class="list-group-item row">
            <div class="col-md-3">Four</div>
            <div class="col-md-9">This is a line for content</div>
        </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item row">
            <div class="col-md-3">One</div>
            <div class="col-md-9">This is a line for content</div>
        </li>
        <li class="list-group-item row">
            <div class="col-md-3">Two</div>
            <div class="col-md-9">This is more content</div>
        </li>
        <li class="list-group-item row">
            <div class="col-md-3">Three</div>
            <div class="col-md-9">This is another row here</div>
        </li>
        <li class="list-group-item row">
            <div class="col-md-3">Four</div>
            <div class="col-md-9">This is a line for content</div>
        </li>
        <li class="list-group-item row">
          <div class="col-md-3">Four</div>
          <div class="col-md-9">This is a line for content</div>
      </li>
      <li class="list-group-item row">
        <div class="col-md-3">Four</div>
        <div class="col-md-9">This is a line for content</div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-3">Four</div>
      <div class="col-md-9">This is a line for content</div>
  </li>
    </ul>
  </div>